In [16]:
import xlrd

import pymysql

In [17]:
loc = ("/home/pawan/NII-Work/Projects/pfaldb/Target-table-by-pawan/PfalDB-targets-update-v2.xlsx")
wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0) 
#print(sheet.nrows)
#for i in range(sheet.nrows):
    #print(sheet.cell_value(i,0),sheet.cell_value(i,1),sheet.cell_value(i,2),sep = "\t")
    
#print(sheet.cell_value(1,0), sheet.cell_value(1,16),sheet.cell_value(1,18),sheet.cell_value(1,1),sheet.cell_value(1,19),sheet.cell_value(1,6),sep ="\t")

print(range(sheet.nrows))

range(0, 129)

In [18]:
# Open database connection
db = pymysql.connect("localhost","malaria","mint2014","malaria" )

# prepare a cursor object using cursor() method
cursor = db.cursor()


# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version : %s " % data)

Database version : 5.5.64-MariaDB

In [24]:
cursor.execute("DROP TABLE IF EXISTS targetinfo")

sql = """CREATE TABLE targetinfo (DTId INT, DTName CHAR(90),SourceOrganism CHAR(20), IsoElecPoint DOUBLE, EcNo CHAR(20),TargetValidation CHAR(50),Pathway CHAR(100),Pathwaylink CHAR(100),PlasmoDB CHAR(50), TDR CHAR(10),ChEMBLID CHAR(30) )"""
cursor.execute(sql)
for i in range(1,129):
    sql = "INSERT INTO targetinfo(DTId, DTName, SourceOrganism, IsoElecPoint, EcNo, TargetValidation,Pathway,Pathwaylink,PlasmoDB, TDR,ChEMBLID) \
  VALUES ('%d', '%s', '%s', '%f', '%s','%s','%s','%s','%s','%s','%s' )" % \
  (i,sheet.cell_value(i,0), sheet.cell_value(i,1),sheet.cell_value(i,19),sheet.cell_value(i,6),"NA","NA","NA","NA","NA","NA")
    cursor.execute(sql)
    db.commit()

In [30]:
cursor.execute("DROP TABLE IF EXISTS tgtgene")

sql = """CREATE TABLE tgtgene (GeneId INT,DTName CHAR(90), GeneInfo CHAR(100), UniProtID CHAR(20), GeneDbId CHAR(50), PlasmoDbId CHAR(50), KEGG CHAR(50), EntrezGeneID INT,  DTLength INT, DTMolWt INT, ProteinSequence TEXT(5000))"""
cursor.execute(sql)
for i in range(1,129):
    sql = "INSERT INTO tgtgene(GeneId, DTName,GeneInfo, UniProtID, GeneDbId, PlasmoDbId, KEGG,EntrezGeneID,  DTLength, DTMolWt, ProteinSequence) \
  VALUES ('%d','%s', '%s', '%s', '%s', '%s', '%s', '%d', '%d', '%d', '%s' )" % \
  (i,sheet.cell_value(i,0),'NA','NA', sheet.cell_value(i,20),sheet.cell_value(i,20),sheet.cell_value(i,20),110011, sheet.cell_value(i,16),sheet.cell_value(i,18),sheet.cell_value(i,17))
    cursor.execute(sql)
    db.commit()

In [31]:
cursor.execute("DROP TABLE IF EXISTS tgtcategory")

sql = """CREATE TABLE tgtcategory (CategoryId INT, DTCategory CHAR(20))"""
cursor.execute(sql)
for i in range(1,129):
    sql = "INSERT INTO tgtcategory(CategoryId, DTCategory) \
  VALUES ('%d', '%s')" % \
  (i,sheet.cell_value(i,5))
    cursor.execute(sql)
    db.commit()

In [36]:
def pdb_split(x):
    T = []
    if len(sheet.cell_value(x,77)) > 2:
        re = sheet.cell_value(x,77)
        qw = re.split(";")
        for y in qw:
            we = 'https://www.rcsb.org/structure/' +y.strip()
            T.append(we)
    else:
        T.append(sheet.cell_value(x,77))
        
    seperator = ";"
    T= seperator.join(T)
    return(T)

In [41]:
#print(pdb_split(1))
cursor.execute("DROP TABLE IF EXISTS tgtstructure")
sql = """CREATE TABLE tgtstructure (ID INT,DTName CHAR(90),Structuretype CHAR(50),PDBId CHAR(200), PDBLink TEXT(2000), SubstrateName CHAR(50), Druggability INT,ActiveSite CHAR(100), CatalyticResidues CHAR(100), Interactingresidue CHAR(200),Volume INT)"""
cursor.execute(sql)
for i in range(1,129):
    trr = pdb_split(i)
    sql = "INSERT INTO tgtstructure(ID,DTName,Structuretype,PDBId, PDBLink, SubstrateName, Druggability,ActiveSite, CatalyticResidues, Interactingresidue,Volume) \
  VALUES ('%d','%s',%s',%s','%s', '%s','%d', '%s','%s','%s','%d')" % \
  (i,sheet.cell_value(i,0),"NA",sheet.cell_value(i,77),trr,"NA",sheet.cell_value(i,83),"NA","NA","NA",111)
    cursor.execute(sql)
    db.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '',NA','NA', 'NA','0', 'NA','NA','NA','111')' at line 1")

84
Druggability